*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    background-color: burlywood;

    &>button {
        cursor: pointer;
        font-size: 2rem;
        border: 1px solid white;
        outline: none;
        background-color: rgba($color: #FFFFFF, $alpha: .75);

        &:hover {
            background-color: rgba($color: #FFFFFF, $alpha: .9);
        }
    }

    .span-two {
        grid-column: span 2;
    }

    .output {
        grid-column: 1 / -1;
        background-color: rgba($color: #000, $alpha: .75);
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-direction: column;
        padding: 10px;
        word-wrap: break-word;
        word-break: break-all;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .previous-operand {
            color: rgba($color: #FFFFFF, $alpha: .75);
        }

        .current-operand {
            color: white;
            font-size: 2.5rem;
        }
    }
}